@{
    ViewData["Title"] = "RegistrationSuccess Page";
}

<div class="text-center">
    <h1 class="display-4">Registration Done Sucessfully</h1>
    <div>
        <a href="/home"><button type="button" id="btn" name="btn">Home</button></a>
    </div>

</div>