@using BusinessObjectLayer;
@{
    ViewData["Title"] = "Product List Page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    @{
        List<Product> Products=(List<Product>)ViewData["list"];
            <a href="/products/AddData"><button type="button" name="btn" id="btn">AddProduct</button></a>

        <ol>
            @foreach(Product prod in Products){
                <li><a href="/Products/Details/@prod.Pid">@prod.Pname</a></li>
            }
        </ol>
    }
    
</div>